body {
    background: url('img/bg-desktop.webp');
    font-family: Sofadi One;
}
footer{
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2rem;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
#container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cartao {
    margin: 1rem;
    background-color: #07b485;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
    padding: 1rem; 
    border-radius: 0.5rem;
}
.cartao__conteudo {
    text-align: center;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartao__conteudo h3 {
    background-color: #11c796;
    text-align: left;
    padding: 0.5rem;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}